// Colors
$lightBlue: #eff7f7; // nav
$cream: #f7efe4; //text
$softCream: #eacfbd; //main
$softBrown: #decaba; //sidebar
$seaGreen: #bac5c0; //
$brown: #c2b49e; // header & footer
$darkBrown: #decaba;